.dateAndLocation {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;

	padding-block: 1rem;

	background-color: var(--color-primary);

	p {
		width: 100%;
		border-left: 1px solid var(--color-light);
		border-right: 1px solid var(--color-light);

		color: var(--color-white);

		&:first-child {
			border-left: 0;
		}

		&:last-child {
			border-right: 0;
		}

		span {
			display: block;

			text-align: center;
			font-weight: var(--font-light);
			font-size: 1.1rem;
		}

		span:first-child {
			font-weight: var(--font-bold);
			font-size: 1.5rem;
			letter-spacing: 0.05rem;
		}
	}
}

.currentWeather {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;

	padding-bottom: 1rem;

	background-color: var(--color-primary);

	.weathercode {
		display: grid;
		grid-template-columns: 1fr;
		place-items: center;

		color: var(--color-white);

		.weathercodeIcon {
			width: 5rem;
		}

		.weathercodeText {
			font-size: 1.1rem;
			font-weight: var(--font-bold);
			text-align: center;
		}
	}

	&--info {
		p {
			color: var(--color-white);
			text-align: center;
			font-size: 1.5rem;
			font-weight: var(--font-light);
		}
	}
}
