.dateAndLocation {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;

	padding-block: 1rem;

	background-color: var(--color-primary);

	p,
	button {
		width: 100%;
		border-left: 1px solid var(--color-light);
		border-right: 1px solid var(--color-light);
		border-block: none;

		background-color: inherit;

		color: var(--color-white);

		&:first-child {
			border-left: 0;
		}

		&:last-child {
			border-right: 0;
		}

		span {
			display: block;

			text-align: center;
			font-weight: var(--font-light);
			font-size: 1.1rem;
		}

		span:first-child {
			font-weight: var(--font-bold);
			font-size: 1.5rem;
			letter-spacing: 0.05rem;
		}
	}

	button {
		outline: none;

		cursor: pointer;

		transition: all 0.35s ease;

		&:hover,
		&:focus-visible,
		&:active {
			outline: none;
			opacity: 0.9;
			background-color: var(--color-dark);
		}
	}
}

.changeLocation {
	background-color: var(--color-primary);
}

.currentWeather {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;

	padding-bottom: 1rem;

	background-color: var(--color-primary);

	.weathercode {
		display: grid;
		grid-template-columns: 1fr;
		place-items: center;

		color: var(--color-white);

		.weathercodeIcon {
			width: 5rem;
		}

		.weathercodeText {
			font-size: 1.1rem;
			font-weight: var(--font-bold);
			text-align: center;
		}
	}

	&--info {
		p {
			color: var(--color-white);
			text-align: center;
			font-size: 1.25rem;
			font-weight: var(--font-light);

			span {
				display: block;
				font-weight: var(--font-bold);
			}
		}
	}
}
