.currentWeather {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;

	padding-bottom: 1rem;

	background-color: var(--color-primary);

	.weathercode {
		display: grid;
		grid-template-columns: 1fr;
		place-items: center;

		color: var(--color-white);

		.weathercodeIcon {
			width: 5rem;
		}

		.weathercodeText {
			font-size: 1.1rem;
			font-weight: bold;
			text-align: center;
		}
	}

	&--info {
		p {
			color: var(--color-white);
			text-align: center;
			font-size: 1.5rem;
		}
	}
}
