.currentWeather {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;

	padding-bottom: 1rem;

	background-color: var(--color-background);

	.weatherIcon {
		width: 5rem;
	}

	.weathercodeText {
		text-align: center;
	}

	&--info {
		p {
			padding-bottom: 0.5rem;
			text-align: center;

			span {
				display: block;

				font-size: 1.2rem;
			}
		}
	}
}
