* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-black: hsl(0, 0%, 0%);
	--color-white: hsl(0, 0%, 100%);
	--color-primary: hsl(220, 100%, 50%);
	--color-dark: hsla(220, 100%, 25%, 1);
	--color-light: hsla(220, 100%, 75%, 1);
	--color-action: hsl(120, 75%, 75%);
}

body {
	display: grid;
	place-items: center;

	background-color: var(--color-black);
}

main {
	max-width: 35rem;
}
