* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-black: hsl(0, 0%, 0%);
	--color-light: hsl(0, 0%, 100%);
	--color-background: hsla(189, 100%, 50%, 1);
	--color-dark: hsla(189, 100%, 25%, 1);
}

body {
	display: grid;
	place-items: center;

	background-color: var(--color-black);
}

main {
	max-width: 35rem;
}
