.hourlyWeather {
	display: grid;
	grid-template-columns: auto 1fr auto;
	place-items: center;

	padding-block: 1rem;

	background-color: var(--color-dark);

	color: var(--color-white);

	button {
		width: 3rem;
		height: 8rem;

		transition: all 0.35s ease;

		&:hover,
		&:focus-visible {
			opacity: 0.9;

			cursor: pointer;
		}

		&:active {
			opacity: 0.8;
		}
	}

	.main {
		width: 100%;

		display: grid;
		place-items: center;

		input[type="range"] {
			margin-block: 1rem;
			height: 1rem;
			width: 80%;

			appearance: none;

			box-shadow: 0 0 0.1rem 0.1rem var(--color-black);

			transition: all 0.35s ease;

			&:hover,
			&:focus-visible,
			&:active {
				opacity: 0.9;

				cursor: pointer;
			}
		}

		input[type="range"]::-webkit-slider-runnable-track {
			background: var(--color-light);
		}

		input[type="range"]::-webkit-slider-thumb {
			height: 1rem;
			width: 2.5rem;

			appearance: none;
			background: var(--color-action);
			outline: 0.1rem solid var(--color-black);

			transition: all 0.35s ease;

			&:hover,
			&:focus-visible,
			&:active {
				outline: 0.1rem solid var(--color-white);
			}
		}

		ul {
			width: 80%;

			display: grid;
			grid-template-columns: repeat(2, 1fr);
			place-items: center;
			row-gap: 0.5rem;

			list-style: none;

			li {
				text-align: center;
				font-weight: var(--font-light);
				font-size: 1.1rem;

				span {
					display: block;
					font-weight: var(--font-bold);
					letter-spacing: 0.05rem;
				}
				svg {
					width: 5rem;
				}
			}
		}
	}
}
