.dailyWeather {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
	gap: 0.25rem;

	padding: 0.25rem;

	background-color: var(--color-primary);

	article {
		padding: 0.75rem 0.25rem;

		background-color: var(--color-dark);

		color: var(--color-white);

		h2 {
			padding-bottom: 0.5rem;

			border-bottom: 0.1rem solid var(--color-light);

			font-size: 1.2rem;
			font-weight: var(--font-bold);
			text-align: center;
		}
		ul {
			list-style: none;
			text-align: center;

			li {
				padding-top: 0.5rem;

				font-size: 1rem;
				color: var(--color-white);
				font-weight: var(--font-light);

				span {
					padding-inline: 0.75rem;
				}

				svg {
					width: min(50%, 5rem);
				}
			}
		}
	}
}
