.dateAndLocation {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;

	padding-block: 1rem;

	background-color: var(--color-primary);

	p {
		width: 100%;
		border-left: 1px solid var(--color-light);
		border-right: 1px solid var(--color-light);

		color: var(--color-white);

		&:first-child {
			border-left: 0;
		}

		&:last-child {
			border-right: 0;
		}

		span {
			display: block;
			text-align: center;

			font-size: 1.1rem;
		}

		span:first-child {
			font-weight: bold;
			font-size: 1.5rem;
		}
	}
}
